@font-face {
  font-family: 'JejuGothic';
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/JejuGothic-Regular.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'JejuGothic', Arial, sans-serif;
  background: var(--color-dark);
}

input,
textarea,
button {
  font: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
